.spinner {
  position: absolute;
  height: 80vh;
  width: 100vw;
  left: 0px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  z-index: 1;
  background-color: white;
}
.description {
  overflow-y: auto;
  max-height: 300px;
}
.headingTag {
  background: linear-gradient(
    30deg,
    rgb(59, 130, 246) 0%,
    rgb(59, 130, 246) 0%,
    rgb(255, 42, 111) 100%
  );
  margin-right: auto;
  border-radius: var(--bs-border-radius);
  padding: 5px 10px;
}
.suggestions {
  position: absolute;
  z-index: 2;
  box-shadow: #9597a1 0px 8px 24px;
  background: white;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
